---
layout: archive
permalink: /categories/
title: "Posts by Category"
---

{% include base_path %}

<!-- push TILs to an array with general posts -->
{% assign __full_array = site.posts %}
{% for post in site.til %}
  {% assign __full_array = __full_array | push: post %}
{% endfor %}

{% include group-by-array collection=__full_array field="categories" %}

{% for category in group_names %}
  {% assign posts = group_items[forloop.index0] %}
  <h2 id="{{ category | slugify }}" class="archive__subtitle">{{ category }}</h2>
  {% for post in posts %}
    {% include archive-single.html %}
  {% endfor %}
{% endfor %}
