---
layout: archive
title: "TIL - Today I Learned"
permalink: /til/
---

{% include base_path %}
<!-- This groups by array, gives you group_names and group_items -->
<!-- {% include group-by-array collection=site.til field="tags" %} -->
<!-- {% for tag in group_names %} -->
<!--   <a onclick="toggleSelected(this)" class="page__taxonomy-item" rel="tag">{{ tag }}</a> -->
<!-- {% endfor %} -->

<div class="grid__wrapper">
  {% for post in site.til reversed %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>

<!-- <script type="text/javascript"> -->
	<!-- var toggleSelected = function(elem) { -->
		<!-- elem.classList.toggle('selected'); -->
	<!-- } -->
<!-- </script> -->
