---
title: "Travel Gallery"
permalink: /travel/
excerpt: "Pictures from the travels of Bambielli and co"
backpacking:
  - url: /backpacking/CrookedTree.jpg
    image_path: /backpacking/CrookedTree.jpg
    alt: "CrookedTree Backpacking"
  - url: /backpacking/EdizaLake.jpg
    image_path: /backpacking/EdizaLake.jpg
    alt: "EdizaLake Backpacking"
  - url: /backpacking/ManAndMountain.jpg
    image_path: /backpacking/ManAndMountain.jpg
    alt: "ManAndMountain Backpacking"
  - url: /backpacking/MountainsWithRiver.jpg
    image_path: /backpacking/MountainsWithRiver.jpg
    alt: "MountainsWithRiver Backpacking"
  - url: /backpacking/TheGang.jpg
    image_path: /backpacking/TheGang.jpg
    alt: "TheGang Backpacking"
  - url: /backpacking/Sunset.jpg
    image_path: /backpacking/Sunset.jpg
    alt: "Sunset Backpacking"
chicago:
  - url: /chicago/Graffiti.jpg
    image_path: /chicago/Graffiti.jpg
    alt: "Graffiti chicago"
  - url: /chicago/LincolnPark.jpg
    image_path: /chicago/LincolnPark.jpg
    alt: "LincolnPark chicago"
  - url: /chicago/Revolution.jpg
    image_path: /chicago/Revolution.jpg
    alt: "Revolution chicago"
banff:
  - url: /banff/MoraineLake.jpg
    image_path: /banff/MoraineLake.jpg
    alt: "MoraineLake Banff"
  - url: /banff/Banff.jpg
    image_path: /banff/Banff.jpg
    alt: "Banff Banff"
  - url: /banff/Rundle.jpg
    image_path: /banff/Rundle.jpg
    alt: "Rundle Banff"
  - url: /banff/BanffStation.jpg
    image_path: /banff/BanffStation.jpg
    alt: "BanffStation Banff"
  - url: /banff/ReflectionPool.jpg
    image_path: /banff/ReflectionPool.jpg
    alt: "ReflectionPool Banff"
  - url: /banff/TownOfBanff.jpg
    image_path: /banff/TownOfBanff.jpg
    alt: "TownOfBanff Banff"
glacier:
  - url: /glacier/Avalanche.jpg
    image_path: /glacier/Avalanche.jpg
    alt: "Avalanche glacier"
  - url: /glacier/Boat.jpg
    image_path: /glacier/Boat.jpg
    alt: "Boat glacier"
  - url: /glacier/GrinnellLake.jpg
    image_path: /glacier/GrinnellLake.jpg
    alt: "GrinnellLake glacier"
  - url: /glacier/MirrorPond.jpg
    image_path: /glacier/MirrorPond.jpg
    alt: "MirrorPond glacier"
  - url: /glacier/DownTheValley.jpg
    image_path: /glacier/DownTheValley.jpg
    alt: "DownTheValley glacier"
  - url: /glacier/ThreeLakes.jpg
    image_path: /glacier/ThreeLakes.jpg
    alt: "ThreeLakes glacier"
utah:
  - url: /utah/AngelsLanding.jpg
    image_path: /utah/AngelsLanding.jpg
    alt: "AngelsLanding utah"
  - url: /utah/Arches.jpg
    image_path: /utah/Arches.jpg
    alt: "Arches utah"
  - url: /utah/Canyonlands.jpg
    image_path: /utah/Canyonlands.jpg
    alt: "Canyonlands utah"
  - url: /utah/CarInCanyon.jpg
    image_path: /utah/CarInCanyon.jpg
    alt: "CarInCanyon utah"
  - url: /utah/Mesa.jpg
    image_path: /utah/Mesa.jpg
    alt: "Mesa utah"
  - url: /utah/ScraggleTree.jpg
    image_path: /utah/ScraggleTree.jpg
    alt: "ScraggleTree utah"
tetons:
  - url: /tetons/TetonLake.jpg
    image_path: /tetons/TetonLake.jpg
    alt: "TetonLake tetons"
  - url: /tetons/Lodge.jpg
    image_path: /tetons/Lodge.jpg
    alt: "Lodge tetons"
  - url: /tetons/MountainSunset.jpg
    image_path: /tetons/MountainSunset.jpg
    alt: "MountainSunset tetons"
california:
  - url: /california/NapaValley.jpg
    image_path: /california/NapaValley.jpg
    alt: "NapaValley california"
  - url: /california/MrHearst.jpg
    image_path: /california/MrHearst.jpg
    alt: "MrHearst california"
  - url: /california/CaliforniaCoast.jpg
    image_path: /california/CaliforniaCoast.jpg
    alt: "CaliforniaCoast california"
germany:
  - url: /germany/MunchenerRathaus.jpg
    image_path: /germany/MunchenerRathaus.jpg
    alt: "MunchenerRathaus germany"
  - url: /germany/Neuschwanstein.jpg
    image_path: /germany/Neuschwanstein.jpg
    alt: "Neuschwanstein germany"
  - url: /germany/Rothenberg.jpg
    image_path: /germany/Rothenberg.jpg
    alt: "Rothenberg germany"
yellowstone:
  - url: /yellowstone/CloudsOnGround.jpg
    image_path: /yellowstone/CloudsOnGround.jpg
    alt: "CloudsOnGround yellowstone"
  - url: /yellowstone/Rainbow.jpg
    image_path: /yellowstone/Rainbow.jpg
    alt: "Rainbow yellowstone"
  - url: /yellowstone/SteamyPools.jpg
    image_path: /yellowstone/SteamyPools.jpg
    alt: "SteamyPools yellowstone"
switzerland:
  - url: /switzerland/Doge.jpg
    image_path: /switzerland/Doge.jpg
    alt: "Doge switzerland"
  - url: /switzerland/Zermatt.jpg
    image_path: /switzerland/Zermatt.jpg
    alt: "Zermatt switzerland"
  - url: /switzerland/RoundingACurve.jpg
    image_path: /switzerland/RoundingACurve.jpg
    alt: "RoundingACurve switzerland"
  - url: /switzerland/CoffeeInTown.jpg
    image_path: /switzerland/CoffeeInTown.jpg
    alt: "CoffeeInTown switzerland"
  - url: /switzerland/Zurich.jpg
    image_path: /switzerland/Zurich.jpg
    alt: "Zurich switzerland"
  - url: /switzerland/Bahn.jpg
    image_path: /switzerland/Bahn.jpg
    alt: "Bahn switzerland"
---
{% include base_path %}

<h2>Backpacking in California</h2>
{% include gallery id="backpacking" class="full" caption="Backpacking trip through the [Ansel Adams Wilderness](http://sierrawild.gov/wilderness/ansel-adams), with nights at Ediza Lake and Thousand Island Lake. See my [previous post](/posts/2016-07-24-life-update#bachelor-party-on-the-pacific-crest-trail) for more details about the trip." %}

<h2>Park #3: Glacier</h2>
{% include gallery id="glacier" class="full" caption="Glacier was a spectacular place, but unfortunately you can see the effects of global warming throughout. Once full glaciers are now nothing but glacial pools, having receded hundreds of feet from their peak. The park was still mighty and impressive: from Avalanche lake with its multi-waterfall cascade to kayaking on lake McDonald, Glacier was a great cap on a fantastic multi-park trip." %}

<h2>Park #2: Yellowstone</h2>
{% include gallery id="yellowstone" class="full" caption="Yellowstone is America's oldest national park, established in 1872 by Ulysses S. Grant. It is situated on a massive caldera, with features to see along the rim. Home to Old Faithful, Hot Springs, and more Bison that we could count, Yellowstone is bustling with activity. It is one of the most accessible parks I have ever been to - more of a 'sightseeing and strolling' park than a hiking park. We did find one strenuous hike: 'Uncle Tom's Trail' on the south rim of the Yellowstone River Canyon offered amazing views of the lower falls... after descending a narrow metal staircase drilled in to the side of the canyon." %}

<h2>Park #1: Grand Tetons</h2>
{% include gallery id="tetons" class="full" caption="Grand Tetons was the first stop on our multi-park vacation. We flew in to Salt Lake City, rented a car, and drove to Jackson Hole, WY which is at the southern tip of the park. The crags of the Teton range are unlike any mountains I had ever seen. Apparently, the park is known for its backcountry, but we weren't equipped for anything more than day hikes. We stayed in a lodge inside the park for a night, and were treated to an unbelievable sunset over dinner." %}

<h2>Chicago Life</h2>
{% include gallery id="chicago" class="full" caption="Life in Chicago" %}

<h2>Banff National Park</h2>
{% include gallery id="banff" class="full" caption="Vacation to Banff National Park in Alberta, Canada" %}

<h2>Trip to Germany</h2>
{% include gallery id="germany" class="full" caption="Trip to Germany" %}

<h2>Trip to Switzerland</h2>
{% include gallery id="switzerland" class="full" caption="Trip to Switzerland" %}

<h2>California Vacation</h2>
{% include gallery id="california" class="full" caption="Vacay up Highway 1 - Started in LA, rented a car, and drove north along PCH stopping in Santa Barbara, San Luis Obispo, Monterrey, Napa and San Francisco along the way." %}

<h2>Utah Life</h2>
{% include gallery id="utah" class="full" caption="Utah surprised me in many ways. I didn't know a soul when I moved out, but I found the city and the people I met incredibly welcoming. After 5 years in the Midwest I had almost forgotten what a mountain was, and it was unreal being a 40-minute drive away from world class skiing / snowboarding. My season pass to Brighton saw some good use! Southern Utah was like being on a different planet, with some of the craziest and most impressive geological formations I'd ever seen. I knocked Zion, Arches and Canyonlands off my National Parks list, and I still plan on visiting Bryce Canyon and Capitol Reef someday.
" %}



