---
layout: page
title: TIL - Today I Learned
permalink: /til/
---

<div class="home">

  <ul class="post-list">
    {% for post in site.categories.til %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <span>{{post.excerpt}}</span>
      </li>
        {% for tag in post.tags %}
          <a href="#">#{{ tag }}</a>
        {% endfor %}
    {% endfor %}
  </ul>

</div>

