{% if paginator.total_pages > 1 %}
<nav class="pagination">
	{% comment %} Link for previous page {% endcomment %}
	{% if paginator.previous_page %}
	  {% if paginator.previous_page == 1 %}
	    <a href="{{ '/' | absolute_url }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
	  {% else %}
	    <a href="{{ '/page' | absolute_url }}{{ paginator.previous_page | append: '/' }}" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a>
	  {% endif %}
	{% else %}
	  <a href="#" class="disabled pagination--pager"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span></a>
	{% endif %}

	{% comment %} Link next page {% endcomment %}
	{% if paginator.next_page %}
	  <a href="{{ '/page' | absolute_url }}{{ paginator.next_page }}/" class="pagination--pager">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a>
	{% else %}
	  <a href="#" class="disabled pagination--pager"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span></a>
	{% endif %}
</nav>
{% endif %}
